.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: rgb(255,112,166);
  background: linear-gradient(108deg, rgba(255,112,166,1) 0%, rgba(255,151,112,1) 34%, rgba(233,255,112,1) 74%);
}

.auth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: rgb(252,137,79);
  background: linear-gradient(108deg, rgba(255,151,112,1) 25%, rgba(233,255,112,1) 83%);
  box-shadow: 5px 5px 10px 5px #9c7f5d;
  border-radius: 3%;
  height: 400px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.profile-pic {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}